app_annie:
    api_uri:            https://api.appannie.com/v1
    username:           daemail@example.com
    password:           secret

    accounts:
      - account_id:     11111
        account_name:   Google Play
        apps:
          - app_id:         com.myapp.client
            app_name:       MyApp Free
            downloads:      GP_APP_FREE_DLS

          - app_id:         com.myapp.client.paid
            app_name:       MyApp Paid
            downloads:      GP_APP_PAID_DLS
            revenue:        GP_APP_PAID_DLS_REV

      - account_id:     22222
        account_name:   iTunes
        apps:
          - app_id:         123456789
            app_name:       MyApp - It does stuff
            downloads:      ITC_MYAPP_DLS
            revenue:        ITC_MYAPP_DLS_REV

      - account_id:     33333
        account_name:   Amazon
        apps:
          - app_id:         ABCDEF0000
            app_name:       MyApp - It does stuff
            downloads:      AMZ_MYAPP_DLS
            revenue:        AMZ_MYAPP_REV
